.order_modal {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(0,0,0,0.4);
}

.order_modal_trigger {
    width: 100%;
    height: 100%;
}
.order_modal_modal {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.order_modal_modal {
    background-color: #ececec;
    padding:25px;
    border-radius:25px;
    display:flex;
    flex-direction: column;
    gap:15px;
}