.category_page {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.category_page_heading {
    padding: 25px 0;
}

.category_page_heading > div {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.category_page_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pagination {
    display: flex;
    gap: 15px;
    align-items: center;
}

.pagination select {
    padding: 1px;
}

.pagination_numbers {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.pagination_numbers > button {
    padding: 4px 6px;
}

.pagination_select {
    display: flex;
    gap: 5px;
    align-items: center;
}

