.cart_summary {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.cart_summary > h3 {
    text-transform: uppercase;
}

.cart_summary_box {
    background: #f6f5f7;
    padding: 15px 10px;
    border: 1px solid #bebebe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_summary_buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart_summary_box_success_msg {
    background-color: #00ec00;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}