.user_profile_page {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.user_profile_page_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_profile_page_info_user {
    background-color: #e0e0e0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 25px;
}

.info_label {
    font-weight: bold;
}

.user_profile_page_transactions {
    list-style-type: none;
}