.category_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 250px;
    border: 1px solid black;
    width: 100%;
    transition: transform .5s;
    cursor:pointer;
}

.category_card:hover {
    transform: scale(1.05);
}

.category_card > * {
    height: auto;
    width: 100%;
}